/*
Put some padding in the home page, by creating upper and lowerHomes, referencing to make their heights

No need to set the height definitively for upper and lower homes. Don't constrain the middle since we add books
    height: 200px;
        height: 100px;

previously I had justify-content space-between

• Added "margin: 10px auto 20px" to #suggestedBookList (now looks better with margins)
replace with more wordy (fewer characters above-->above called three parameter margins)
first is top, then rgt, then btm, then left
    margin-top: 10px;
    margin-bottom: 20px;

    attempted leftFrame
        display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    but didn't work

    right frame tends to distort the left
        margin-left: 150px;

        suggested book list:
            width: 400px;


            BUT PERCENTAGE IS SO MUCH BETTER FOR WIDTH!!!!
            previously width: 1200px (now 80%)

    suggestedCatList previously 800pc (now 66%)

    tested in homeTotal
        max-width: 1200px;

no need suggested BookList

#suggestedBookList {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 20px;
}


    width: 80%;

*/

#homeTotal{
    display: flex;
    justify-content: space-between;
    align-items: left;

    padding: 50px;

}

/*     width: 40%;*/
#leftFrame{
    margin: 10px;
}

/*     per dr K's instructions, text-aligned to left*/
#topLeft, #bottomLeft{
    background: lightblue;
    border: 4px solid pink;
    padding: 20px;
    font-size: 30px;
    text-align: left;

}

#bottomLeft, #featuredBooks{
    margin-top: 15px;
    padding-left: 35px;
}

#featuredBooks{
    background: lightblue;
    border: 4px solid pink;
    padding: 20px;
    font-size: 30px;
}

/*
NO NEED?
#featuredBooks{
    flex-wrap: wrap;
}
 */

#rightFrame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

/* flex-start better than center for align-items*/
.suggestedCatItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 40px;
    padding-bottom: 40px;

}


/*     width: 90%;*/
#suggestedCatList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto 40px;
}

/*in addition to the listproperties provided above, the suggested book items get more padding
10 pixels up/down, 20 px left-right*/
.randBooks{
    padding-bottom: 10px;
}



